.flex-container {
    display: flex;
    justify-content: center;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #7a7a7a;
    color: #ffffff;
}

h2 {
    color: #000000;
    text-align: center;
}

#coluna{
    margin-left: 6.25%;
}

img {
    width: 50%;
}
